{
  // set of plugins to support language features
  "presets": [
      "@babel/preset-env", //compiling ES2015+ syntax
      "@babel/preset-react" //for react
  ],
  
  // plugins that handle code transformation at runtime
  "plugins": [
      "@babel/plugin-transform-runtime"
  ]
}